.main {
  padding-top: 0;
  max-width: 680px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 8vh;
}

.intro {
  margin-bottom: 1.5rem;
}

.greeting {
  font-size: 2rem;
  color: var(--highlight);
  margin-bottom: 0.5rem;
  display: block;
}

.name {
  font-size: 4rem;
  line-height: 1.1;
  color: #000;
  margin-bottom: 0.1rem;
  letter-spacing: -0.02em;
}

.bio {
  font-size: 1.05rem;
  color: #333;
  margin-bottom: 1.5rem;
  text-align: justify;
}