.main {
  padding-top: 0;
  max-width: 700px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  min-height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;
}

.intro {
  margin-bottom: 2rem;
}

.greeting {
  font-size: 2.25rem;
  color: var(--highlight);
  margin-bottom: 0.5rem;
  display: block;
}

.name {
  font-size: 5rem;
  line-height: 1.1;
  color: #000;
  margin-bottom: 0.2rem;
  letter-spacing: -0.02em;
}

.bio {
  font-size: 1.15rem;
  color: #333;
  margin-bottom: 1.8rem;
  text-align: justify;
}